@model KnowledgeHubPortal.Domain.Entities.Article

@{
    ViewData["Title"] = "Submit";
}

<h1>Submit</h1>

<h4>Article</h4>
<hr />

@TempData["MSG"]

<div class="row">
    <div class="col-md-4">
        <form asp-action="Submit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
                <label asp-for="ArticleId" class="control-label"></label>
                <input asp-for="ArticleId" class="form-control" />
                <span asp-validation-for="ArticleId" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArticleUrl" class="control-label"></label>
                <input asp-for="ArticleUrl" class="form-control" />
                <span asp-validation-for="ArticleUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CatagoryId" class="control-label"></label>
                @*<input asp-for="CatagoryId" class="form-control" />*@


            <select name="CatagoryId">
                @foreach (var item in ViewBag.Categories as List<KnowledgeHubPortal.Domain.Entities.Catagory>)
                {
                    <option value="@item.Id">@item.Name</option>
                }
            </select>

                <span asp-validation-for="CatagoryId" class="text-danger"></span>
            </div>
            @*<div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsApproved" /> @Html.DisplayNameFor(model => model.IsApproved)
                </label>
            </div>*@
            @*<div class="form-group">
                <label asp-for="SubmitedBy" class="control-label"></label>
                <input asp-for="SubmitedBy" class="form-control" />
                <span asp-validation-for="SubmitedBy" class="text-danger"></span>
            </div>*@
            @*<div class="form-group">
                <label asp-for="DateSubmited" class="control-label"></label>
                <input asp-for="DateSubmited" class="form-control" />
                <span asp-validation-for="DateSubmited" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
