<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    @RenderSection("S2",false)
    <h1>This is title</h1>
    <hr />
    @RenderBody()
<hr />
<footer>This is footer</footer>

    @RenderSection("S1",false)

</body>
</html>