
    <div class="col-auto">
        <select name="id" class="form-select" asp-items="@ViewBag.Catagories">
            <option disabled selected>Select a category</option>
        </select>
    </div>
    <div class="col-auto">
        <input type="submit" name="btnSubmit" value="Search" class="btn btn-outline-primary" />
    </div>
