

<h2>Create Catagory</h2>
<hr />

<form action="/Catagory/Save" method="post">

    Enter Catagory Title <br />
    <input type="text" name="name" placeholder="Enter Catagory" /><br />
    Enter Description <br />
    <textarea name="description" rows="6" cols="60"></textarea><br />
    <input type="submit" name="btnSubmit" value="Submit" />


</form>